main #section2 * {
    /* border: solid 1px;
    display: none; */
    margin: 0;
    text-decoration: none;
}

#section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background: #F7F7F7;
    padding-bottom: 101px;
}

#section2 article {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
}

#section2 article h3 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #FF4081;
    margin: 19px 0 19px 0;
}

#section2 article p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
    width: 518px;
    margin-bottom: 26px;
}

#section2 article a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #FF4081;
    margin: 19px 0 19px 0;
}

#section2 article:nth-child(1) div {
    background-size: cover;
    height: 270px;
    width: 288px;
}

#section2 article:nth-child(2) div {
    background-image: url(../images/ilustra-poupando.png);
    background-size: cover;
    height: 270px;
    width: 288px;
}

#section2 article:nth-child(3) div {
    background-image: url(../images/ilustra-independencia.png);
    background-size: cover;
    height: 270px;
    width: 288px;
}

@media only screen and (max-width: 600px) {
    section>article>img {
        width: 300px;
    }
    #section2 article p {
        width: 300px;
    }
}