main * {
    /* border: solid 1px; */
    margin: 0;
    text-decoration: none;
}


/* #section1 {
    display: none !important;
} */

#imagem-banner {
    height: 512px;
    width: 501px;
    background-image: url(../images/ilustra-banner.png);
    margin-bottom: 25px;
}

#conteudo-banner {}

#section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 100px auto;
}

#section1 h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
    width: 415px;
    margin-bottom: 30px;
}

#section1 h5 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #555555;
    margin-bottom: 30px;
}

#section1 a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    display: block;
    color: #FF4081;
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    text-transform: lowercase;
    text-align: center;
    padding: 10px;
    width: 268px;
}


/*-----------------------RESPONSIVO IPADMINI-----------------------*/

@media only screen and (max-width: 769px) {
    #imagem-banner {
        background-image: url(../images/ilustra-banner.png);
        background-size: contain;
        height: 326px;
        width: 320px;
    }
    #section1 {
        margin: 50px auto;
    }
    #section1 h1 {
        font-size: 45px;
    }
    #section1 h1,
    #section1 h5 {
        width: 363px;
    }
}


/*-----------------------RESPONSIVO MOBILE P-----------------------*/

@media only screen and (max-width: 430px) {
    #imagem-banner {
        background-image: url(../images/ilustra-banner.png);
    }
    #section1 h1,
    #section1 h5 {
        width: 284px;
    }
    #section1 h1 {
        font-size: 40px;
        line-height: 55px;
    }
    #section1 h5,
    #section1 a {
        font-size: 20px;
        line-height: 28px;
    }
}