main * {
    /* border: solid 1px; */
    margin: 0;
    text-decoration: none;
}

#section1 {
    margin: 0 15%;
    width: 70%;
}

#section1 {
    /* width: 80%;
    margin: auto; */
}

#section1 h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    line-height: 57px;
    color: #FF4081;
    margin-top: 7%;
    margin-bottom: 7%;
}

#section1 h1 span {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 0.5%;
    color: #9D9D9D;
}

#section1 p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'kern' off;
    color: #000000;
    margin-top: 1%;
    margin-bottom: 5%;
}

#section1 h6 {
    color: #009688;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
}


/* #section1 div {
    width: 90%;
} */

img {
    aspect-ratio: 1032/465;
    width: 100%;
    margin-bottom: 5%;
}

main h2 {
    font-family: 'Ubuntu';
    background: #F7F7F7;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    color: #FF4081;
    width: 100%;
    padding-top: 8%;
    /* padding-bottom: 8%; */
}

@media only screen and (max-width: 480px) {
    #section1 h1 {
        font-size: 30px;
        line-height: 40px;
    }
    #section1 h1 span {
        font-size: 18px;
        line-height: 21px;
    }
    main h2 {
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 30px;
        line-height: 40px;
    }
}