.titulo60_rosa {
    color: #FF4081;

}

.titulo50_rosa {
    color: #FF4081;

}

.titulo50_verde {
    color: #009688;

}

.subtitulo25_rosa {
    color: #FF4081;

}

.subtitulo35_rosa {
    color: #FF4081;

}

.subtitulo35_verde {
    color: #009688;

}

.texto_principal {
    color: #000000;

}

.texto_secundario {
    color: #000000;
    
}

.botao_cheio_rosa {
    color: #FF4081;

}

.botao_cheio_verde {
    color: #009688;

}

.botao_vazio_rosa {
    color: #FF4081;

}

.botao_vazio_verde {
    color: #009688;

}