html {
    font-size: 62.5%;
}

.tittle60-pink {
    color: #FF4081;
    font-size: 6rem;

}

.tittle50-pink {
    color: #FF4081;
    font-size: 5rem;

}

.tittle50-green {
    color: #009688;

}

.subtittle25_rosa {
    color: #FF4081;

}

.subtitulo35_rosa {
    color: #FF4081;

}

.subtitulo35_verde {
    color: #009688;

}

.texto_principal {
    color: #000000;

}

.texto_secundario {
    color: #000000;
    
}

.botao_cheio_rosa {
    color: #FF4081;

}

.botao_cheio_verde {
    color: #009688;

}

.botao_vazio_rosa {
    color: #FF4081;

}

.botao_vazio_verde {
    color: #009688;

}